body, html
{
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 80%;
}
#canvas
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: red;
}
svg {
    width: 100%;
    height: 100%;
}
#chat {
    position: fixed;
    width: 300px;
    height: 400px;
    background-color: rgba(128, 255, 255, 0.5);
    bottom: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#chat #form {
    position: fixed;
    bottom: 0;
}
#chat #form input[type=text] {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0px;
    border-collapse: collapse;
    height: 20px;
}
#messages li {
    list-style: none;
    margin-left: 0px;
    padding: 0px;
}
#messages li.own b {
    color: #444;
}
#messages {
    margin: 10px;
    height: 350px;
    overflow: auto;
    padding: 0;
}
svg text {
    font-family: Arial;
}
svg .user .circle {
    fill: #ddc;
}
svg .user.own .circle {
    fill: #5a5;
}
svg .user .shout {
    fill: rgba(0, 0, 0, 0.05);
}
