body, html
{
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 80%;
}
#canvas
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: red;
}
#chat {
    position: fixed;
    width: 300px;
    height: 400px;
    background-color: rgba(128, 255, 255, 0.5);
    bottom: 0;
    right: 0;
}
#chat #form {
    position: fixed;
    bottom: 0;
}
#chat #form input[type=text] {
    width: 300px;
}
svg text {
    font-family: Arial;
}
svg .user .circle {
    fill: #ddc;
}
svg .user.own .circle {
    fill: #5a5;
}
svg .user .shout {
    fill: rgba(0, 0, 0, 0.05);
}
